<section class="form-wrapper">
  <form class="form" [formGroup]="repositoriesForm" (submit)="findRepos()">
    <label class="form__label">Enter username</label>
    <input class="form__input" formControlName="username" type="text" />
    <button class="form__button" [disabled]="username.invalid" type="submit">
      Submit
    </button>
  </form>
  <em class="error" *ngIf="username.dirty && username.hasError('required')"
    >Field cannot be empty</em
  >
</section>

<app-repository-list></app-repository-list>
