@import '../../styles.scss';
div {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 16px;
  text-align: center;
  font-weight: bold;

  &.error {
    background: $error;
    color: white;
  }
}
